.cate_knhd_1_0_0{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    padding-top: 15px;
    overflow: hidden;
    &__title{
        font-weight: 600;
        font-size: 18px;
        padding: 0 10px;
    }
    &__body{
        margin-top: 10px;
    }
    &__item{
        display: block;
        width: 100%;
        padding: 8px 10px;
        transition: all 0.25s linear;
        &:hover{
            background: #ddd;
            padding-left: 15px;
        }
        &.active{
            background: #D1A969 !important;
            color: #fff;
            padding-left: 10px;
        }
    }
    @media (max-width: 767px){
        box-shadow: none;
        &__body{
            display: flex;
            flex-wrap: wrap;
        }
        &__item{
            width: fit-content;
            margin-right: 5px;
            margin-bottom: 5px;
            border: 1px solid #D1A969;
            border-radius: 55px;
            padding: 3px 8px;
            &.active{
                box-shadow: 0 0 3px 0 #3f3f3f;
            }
        }
    }
}