.cate_knhd_1_0_0{
    margin-top: 20px;
    &__title{
        font-weight: 600;
        font-size: 18px;
    }
    &__body{
        margin-top: 5px;
    }
    &__item{
        display: block;
        width: 100%;
        margin-bottom: 5px;
        padding: 5px 5px 5px 0;
        transition: all 0.25s linear;
        &:hover{
            background: #ddd;
            padding-left: 5px;
        }
        &.active{
            background: #D1A969 !important;
            color: #fff;
            padding-left: 5px;
        }
    }
    @media (max-width: 768px){
        &__body{
            display: flex;
            flex-wrap: wrap;
        }
        &__item{
            width: fit-content;
            margin-right: 5px;
            border: 1px solid #D1A969;
            border-radius: 55px;
            padding: 3px 8px;
            &.active{
                box-shadow: 0 0 3px 0 #3f3f3f;
            }
        }
    }
}