.new_knhd_1_0_0{
    margin-top: 20px;
    &__head{
        text-align: center;
        font-weight: 600;
        font-size: 21px;
        margin-bottom: 10px;
    }
    &__item{
        display: flex;
        align-items: flex-start;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &__thumb{
        flex: 1;
        margin-right: 15px;
        border-radius: 5px;
        overflow: hidden;
        > a{
            padding-top: 66%;
            display: block;
            position: relative;
        }
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: all 0.25s linear;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
    &__title{
        display: block;
        width: 55%;
        font-size: 13px;
        font-weight: 500;
        &:hover{
            color: #0051cb;
        }
    }
    @media (max-width: 430px){
        &__thumb{
            margin-right: 10px;
        }
    }
}